<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toko Makanan Kami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .carousel-item  {
            height: 600px;
        }

        .carousel-item img {
            height: 100%;
            object-fit: cover;
            filter: brightness(0.6);
        }

        .imgs {
            
            width: 100%;
            height: 100%;
        }

        .imgs img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white text-bold" href="#">Toko Makanan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'pesanan' %}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'historyPemesanan' %}">Pesanan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'kontak' %}">Kontak</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="imgs">
                    <img src="https://arsitagx-master-article.s3.ap-southeast-1.amazonaws.com/article-photo/985/desain-restoran-keren-cover.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h4>Pendirian dan Awal Mula</h4>
                <p style="text-align: justify;">
                    Pendirian toko makanan sering kali dimulai dengan visi dan semangat pengusaha kuliner. Mungkin saja ide tersebut muncul dari keahlian memasak, warisan keluarga, atau keinginan untuk memperkenalkan jenis makanan tertentu kepada masyarakat.

                    Sebelum membuka toko makanan, pemiliknya biasanya melakukan riset pasar untuk memahami preferensi konsumen dan kebutuhan lokal. Konsep toko makanan juga dibuat, termasuk jenis makanan yang akan disajikan, tema dekorasi, dan nilai tambah lainnya.
                    Proses persiapan melibatkan pengembangan menu yang unik dan menarik. Pemilik mungkin bekerja sama dengan koki berbakat untuk menciptakan hidangan khas atau mengadaptasi resep keluarga yang telah teruji.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h4>Perubahan dan Adaptasi                </h4>
                <p style="text-align: justify;">
                    Seiring berjalannya waktu, toko makanan mungkin mengalami perubahan dan adaptasi untuk memenuhi perubahan selera pasar dan tren kuliner. Ini dapat melibatkan penyegaran menu, penambahan layanan, atau bahkan perubahan desain interior.

                    
                    Jika toko makanan berhasil membangun reputasi yang baik, mungkin mendapatkan penghargaan atau pengakuan dari komunitas kuliner atau media. Penghargaan ini dapat meningkatkan citra dan daya tarik toko.
                    
                    
                    Beberapa toko makanan dapat menjadi institusi di komunitas tertentu. Pemiliknya mungkin berusaha untuk memelihara tradisi dan warisan kuliner, mungkin melibatkan generasi keluarga yang berbeda.
                    
                    Beberapa toko makanan yang sukses dapat mempertimbangkan ekspansi ke lokasi lain atau diversifikasi dengan menambahkan cabang atau jenis makanan baru.
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="imgs">
                    <img src="https://cdn-image.hipwee.com/wp-content/uploads/2021/11/hipwee-tampak-depan-carnis-750x422.jpg" alt="">
                </div>
            </div>
        </div>
      </div>
     
      <footer class="bg-body-tertiary mt-5 text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Makanan Sehat </h5>
      
              <p>
                Kebersihan dan keamanan adalah prioritas utama kami. Kami menjaga standar kebersihan yang ketat di dapur dan area makan untuk memberikan lingkungan yang aman dan nyaman bagi pelanggan.
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Saran dan Kritik</h5>
      
              <p>
                Kami menghargai setiap masukan dari pelanggan kami. Saran dan kritik Anda membantu kami terus berkembang dan memberikan pengalaman kuliner terbaik. Jangan ragu untuk berbagi pendapat Anda dengan kami.
              </p>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2023 Copyright Toko Makanan
        </div>
        <!-- Copyright -->
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>