<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toko Makanan Kami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .carousel-item  {
            height: 600px;
        }

        .carousel-item img {
            height: 100%;
            object-fit: cover;
            filter: brightness(0.6);
        }

        .imgs {
            
            width: 100%;
            height: 100%;
        }

        .imgs img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white text-bold" href="#">Toko Makanan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'pesanan' %}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'historyPemesanan' %}">Pemesanan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'kontak' %}">Kontak</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://imgsrv2.voi.id/p14rzr-vobXD8QkF9EbdNVf1xQhM_cLa2HYIEnmWqNM/auto/1200/675/sm/1/bG9jYWw6Ly8vcHVibGlzaGVycy8xNTE3ODQvMjAyMjAzMzAyMzQ1LW1haW4uY3JvcHBlZF8xNjQ4NjU4NzU2LmpwZw.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>SELAMAT DATANG TOKO MAKANAN KAMI</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://asset.kompas.com/crops/O7bqQqViMzIbz4XX-J2_FnYlzqI=/0x0:1000x667/750x500/data/photo/2017/09/22/3325539051.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>KUALITAS MAKANAN KAMI ADALAH NOMOR SATU</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://image.cermati.com/q_70,w_1200,h_800,c_fit/szkdxemfqkbz0y1jozgh" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>LAYANAN YANG TERBAIK UNTUK SEMUA PELANGGAN</h1>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="imgs">
                    <img src="https://asset.kompas.com/crops/vUZPiu1jdMWMpNszwzsi8RmSeKE=/1x0:2693x1795/750x500/data/photo/2022/04/01/624729f498ad4.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h4>Selamat Datang di Warung Kuliner Sederhana</h4>
                <p style="text-align: justify;">
Warung Kuliner Sederhana adalah tempat makan yang menyajikan hidangan-hidangan lezat dengan cita rasa yang autentik. Kami bangga menyuguhkan menu makanan yang berkualitas tinggi dengan bahan-bahan segar dan dipersiapkan dengan penuh dedikasi.
Nikmati berbagai pilihan hidangan lokal dan internasional di Warung Kuliner Sederhana. Dari hidangan tradisional hingga kreasi modern, kami memiliki menu yang memuaskan berbagai selera dan keinginan kuliner Anda.
Kami berkomitmen untuk menyajikan hidangan dengan bahan-bahan berkualitas tinggi. Bahan-bahan segar dari pasar lokal menjadi kunci utama dalam menciptakan rasa autentik dan lezat di setiap hidangan.
Warung Kuliner Sederhana memiliki atmosfer yang ramah dan nyaman, cocok untuk bersantai bersama teman dan keluarga. Suasana hangat dan layanan ramah dari tim kami akan membuat kunjungan Anda menjadi pengalaman yang menyenangkan.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h4>Selamat Datang di Warung Kuliner Sederhana</h4>
                <p style="text-align: justify;">
Warung Kuliner Sederhana adalah tempat makan yang menyajikan hidangan-hidangan lezat dengan cita rasa yang autentik. Kami bangga menyuguhkan menu makanan yang berkualitas tinggi dengan bahan-bahan segar dan dipersiapkan dengan penuh dedikasi.
Nikmati berbagai pilihan hidangan lokal dan internasional di Warung Kuliner Sederhana. Dari hidangan tradisional hingga kreasi modern, kami memiliki menu yang memuaskan berbagai selera dan keinginan kuliner Anda.
Kami berkomitmen untuk menyajikan hidangan dengan bahan-bahan berkualitas tinggi. Bahan-bahan segar dari pasar lokal menjadi kunci utama dalam menciptakan rasa autentik dan lezat di setiap hidangan.
Warung Kuliner Sederhana memiliki atmosfer yang ramah dan nyaman, cocok untuk bersantai bersama teman dan keluarga. Suasana hangat dan layanan ramah dari tim kami akan membuat kunjungan Anda menjadi pengalaman yang menyenangkan.
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="imgs">
                    <img src="https://thumb.viva.co.id/media/frontend/thumbs3/2019/11/21/5dd64a2d921ea-5-makanan-penyebab-stroke-yang-jarang-diketahui_665_374.jpg" alt="">
                </div>
            </div>
        </div>
      </div>
     <div class="container mt-5">
      <div class="row">
        {% for menu in data_menu_makanan %}
          <div class="col-md-4  mt-3">
              <div class="card shadow" >
                  <img src="{{ menu.fields.img }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ menu.fields.nama }}</h5>
                    <small>Stok: {{ menu.fields.stok }}</small>
                    <small>Harga: {{ menu.fields.harga }}</small>
                    <p class="card-text">{{ menu.fields.deskripsi }}</p>
                    <a href="{% url 'pesanan' %}" class="btn btn-primary"  >Pesan Sekarang</a>
                  </div>
                </div>
          </div>
          {% endfor %}
        </div>
     </div>
      <footer class="bg-body-tertiary mt-5 text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Makanan Sehat </h5>
      
              <p>
                Kebersihan dan keamanan adalah prioritas utama kami. Kami menjaga standar kebersihan yang ketat di dapur dan area makan untuk memberikan lingkungan yang aman dan nyaman bagi pelanggan.
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Saran dan Kritik</h5>
      
              <p>
                Kami menghargai setiap masukan dari pelanggan kami. Saran dan kritik Anda membantu kami terus berkembang dan memberikan pengalaman kuliner terbaik. Jangan ragu untuk berbagi pendapat Anda dengan kami.
              </p>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2023 Copyright Toko Makanan
        </div>
        <!-- Copyright -->
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>