<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toko Makanan Kami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .carousel-item  {
            height: 600px;
        }

        .carousel-item img {
            height: 100%;
            object-fit: cover;
            filter: brightness(0.6);
        }

        .imgs {
            
            width: 100%;
            height: 100%;
        }

        .imgs img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white text-bold" href="#">Toko Makanan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'pesanan' %}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'historyPemesanan' %}">Pemesanan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'kontak' %}">Kontak</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white"><i class="fa fa-location-dot"></i> Gmaps.
                    </div>
                    <div class="card-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.8930229993803!2d106.65999307475101!3d-6.277793193711045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fb178b2b3829%3A0xbfad2731d21445b6!2sTELKOM%20TANGERANG!5e0!3m2!1sid!2sid!4v1704095991099!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Alamat</div>
                    <div class="card-body">
                        <p>Jl.Pahlawan Seribu no 1</p>
                        <p>Lengkong Utara Kecamatan Serpong</p>
                        <p>kota Tangerang</p>
                        <p>Email : Telkom@gmail.com</p>
                        <p>No Hp 085683827637</p>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
     
      <footer class="bg-body-tertiary mt-5 text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Makanan Sehat </h5>
      
              <p>
                Kebersihan dan keamanan adalah prioritas utama kami. Kami menjaga standar kebersihan yang ketat di dapur dan area makan untuk memberikan lingkungan yang aman dan nyaman bagi pelanggan.
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Saran dan Kritik</h5>
      
              <p>
                Kami menghargai setiap masukan dari pelanggan kami. Saran dan kritik Anda membantu kami terus berkembang dan memberikan pengalaman kuliner terbaik. Jangan ragu untuk berbagi pendapat Anda dengan kami.
              </p>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2023 Copyright Toko Makanan
        </div>
        <!-- Copyright -->
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>