<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemesanan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white text-bold" href="#">Toko Makanan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'pesanan' %}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'historyPemesanan' %}">Pemesanan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'kontak' %}">Kontak</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <h5 class="text-center">Pemesanan Makanan</h5>
    <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Makanan</th>
            <th scope="col">Harga</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Total</th>
            
          </tr>
        </thead>
        <tbody>
          {% for item in data_json %}

          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.nama }}</td>
            <td>{{ item.makanan }}</td>
            <td>Rp. {{ item.harga }}</td>
            <td>{{ item.qty }}</td>
            <td>Rp. {{ item.total }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
  </div>
  <footer class="bg-body-tertiary mt-5 text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Makanan Sehat </h5>
  
          <p>
            Kebersihan dan keamanan adalah prioritas utama kami. Kami menjaga standar kebersihan yang ketat di dapur dan area makan untuk memberikan lingkungan yang aman dan nyaman bagi pelanggan.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Saran dan Kritik</h5>
  
          <p>
            Kami menghargai setiap masukan dari pelanggan kami. Saran dan kritik Anda membantu kami terus berkembang dan memberikan pengalaman kuliner terbaik. Jangan ragu untuk berbagi pendapat Anda dengan kami.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright Toko Makanan
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>