<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toko Makanan Kami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .carousel-item  {
            height: 600px;
        }

        .carousel-item img {
            height: 100%;
            object-fit: cover;
            filter: brightness(0.6);
        }

        .imgs {
            
            width: 100%;
            height: 100%;
        }

        .imgs img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-white text-bold" href="#">Toko Makanan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'pesanan' %}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'historyPemesanan' %}">Pemesanan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'kontak' %}">Kontak</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      
      <div class="container mt-5">
        <div class="row">
          {% for menu in data_menu_makanan %}
            <div class="col-md-4  mt-3">
                <div class="card shadow" >
                    <img src="{{ menu.fields.img }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ menu.fields.nama }}</h5>
                      <small>Harga: {{ menu.fields.harga }}</small>
                      <p class="card-text">{{ menu.fields.deskripsi }}</p>
                      <a href="#" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#tb{{ menu.pk }}">Pesan Sekarang</a>
                    </div>
                  </div>
            </div>
            <div class="modal fade" id="tb{{ menu.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <form method="post" action="{% url 'tambah_pesanan' %}" class="modal-dialog">
                <div class="modal-content">
                  {% csrf_token %}
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    
                    <label for="">Nama</label>
                    <input type="text" class="form-control" required name="nama" placeholder="Nama">
                    <br>
                    <label for="">Qty</label>
                    <input type="number" class="form-control" required placeholder="Nama" name="qty">
                    <br>
                    <label for="">Makanan</label>
                    <input type="text"  name="makanan"  readonly class="form-control" value="{{ menu.fields.nama }}" style="background-color: rgb(222, 218, 218);" required placeholder="">
                    <input type="hidden" name="harga" value="{{ menu.fields.harga }}">
                    <br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </div>
              </form>
            </div>
            {% endfor %}
          </div>
     </div>

     
      <footer class="bg-body-tertiary mt-5 text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Makanan Sehat </h5>
      
              <p>
                Kebersihan dan keamanan adalah prioritas utama kami. Kami menjaga standar kebersihan yang ketat di dapur dan area makan untuk memberikan lingkungan yang aman dan nyaman bagi pelanggan.
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Saran dan Kritik</h5>
      
              <p>
                Kami menghargai setiap masukan dari pelanggan kami. Saran dan kritik Anda membantu kami terus berkembang dan memberikan pengalaman kuliner terbaik. Jangan ragu untuk berbagi pendapat Anda dengan kami.
              </p>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2023 Copyright Toko Makanan
        </div>
        <!-- Copyright -->
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>